*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.b{
	text-align: left;
}
h1,p{
	background-color:#2C3E3E;
}
em,strong{
	background-color:#2C3E3E;
	display: inline;
}
P{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 1 px;	
	
	margin-bottom: 50px;
	margin-top: 25px;

}
h1 {
	padding: 30px;
	border:5px solid #FFFFFF;
	border-bottom: 10px solid #275859;
	color: #2E8A8D;

	
}
strong{
	margin: 15px;
	padding: 1px;
}
div { 
	color: #FF;
	background-color: #FFFFFF;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	width: 100px;
	box-sizing: border-box;
	margin: 20px auto; /* vertical hroizontal (auto centers with the parent elements*/
}
body {
	text-align: center;
	margin: 20px auto;
	background-color:#2C3E3E; 
}

.nav{
    background-color:#2C3E3E;
    font-weight:bold;
    padding:20px;
    margin:20px auto;
}

ul.nav {
    margin:15px;
    padding:0px;
    list-style:none;
   
    background:#2C3E3E; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
ul.nav li {
    border-right:0px solid #2C3E3E; /* you can change the border color matching to your background color */
    float: right;
}
ul.nav a {
    display:block;
    padding:0 15px;
    color:#FFFFFF; /*button name color*/
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
	background-color: #335354; /*button background name color*/
  border: none;
  color: white;
  margin-left: 0px;
  padding-top:0px;
  padding: 3px;
  text-align: right;
  border-radius: 8px;
  display: inline-block;
}


.container {
	width: 80%;
	margin: 0 auto;
}
.logo{
float: left;
width: 90px;
height: 40px;
}

.inbox{
	 background-color:#FFFFFF;
    font-weight:bold;
    padding:0px;
    margin:0px auto;
	float:right;
}



.inbox .inbox hover{
	 border-right:0px solid #FFFFFF; /* you can change the border color matching to your background color */
    float:right;
	
    padding: 0 1px;
    color:#C43314;
    text-decoration:none;
	background-color: #C43314;
  border: none;
  color: white;
  margin-left: 0px;
  padding-top:0px;
  padding: 0px;
  text-align: right;
  border-radius: 1px;
  display: inline-block;
}




.topnav{
background-color: #C43314 ;
color: #2B2A46;
  float: right;
  width: 1000px;
  height: 200px;
  padding: 1px;
  border: none;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 30px;
  font-size: 13px;
}
.topnav 